<html>
    <h1>
        {{ .title }}
    </h1>
    <!-- Таким образом задается цикл по контекстной переменной .wishlist -->
    {{ range .wishlist }}
        <p> {{ . }} </p>  <!-- точка - текущий элемент массива -->
    {{ end }}
</html>